.game_box {
    left: 12.5%;
    top: 3em;
    width: 75%;
}

.under {
    position: absolute;
    z-index: -1;
    display: inline-block;
    border: 5px solid black;
  }
  
  .over {
    position: absolute;
    z-index: -1;
    display: inline-block;
  }

  .over.player {
  }

  

  .over.player .main {
    width: 33%;
    position: relative;
  }

  .over.player .jump {
    width: 33%;
    position: absolute;
    left: -1in;
  }

  .over.player .move {
    width: 33%;
    position: absolute;
    left: 1in;
  }

  .over.player .turn {
    width: 10%;
    position: absolute;
    bottom:-1in;
  }
  
.mable {

}